button {background-color:yellow; color:Blue;width:210px;height:40px;font-size:18px;border:groove blue 7px; }
body {background-color: #DEB887;}
h1 {color:blue;}
h2 {color:green;}
h4 {color:blue;}
a {text-decoration:none;}
img {  border: 7px dashed Blue;}